<div class="container">
    <app-patient-search *ngIf="searchEnabled" (searchEmitter)="enableForm($event)"></app-patient-search>

    <form ngNativeValidate #examForm="ngForm" (ngSubmit)="registerExam(examForm)" class="row mx-3 border rounded">
        <h3 class="my-2 col-4 fs-4">Exame de {{ patientFullName }}</h3>
        <input type="submit" class="my-2 col-2 btn btn-outline-secondary" name="edit" id="edit" [disabled]="this.examId < 0" value="Editar">
        <button type="reset" (click)="delete()" class="my-2 offset-md-1 col-2 btn btn-outline-danger fw-bold" [disabled]="this.examId < 0">Deletar</button>
        <input type="submit" class="my-2 offset-md-1 col-2 btn btn-primary" [disabled]="this.examId >= 0" value="Salvar">
            
        <div class="col-6 form-floating my-2">
            <input [(ngModel)]="examName" class="form-control" type="text" id="examName" name="examName" required [disabled]="!formEnabled" minlength="8" maxlength="64">
            <label for="examName">Nome do Exame</label>
        </div>

        <div class="col-3 form-floating my-2">
            <input [(ngModel)]="examDate" class="form-control" type="date" id="examDate" name="examDate" required [disabled]="!formEnabled">
            <label for="examDate">Data do Exame</label>
        </div>

        <div class="col-3 form-floating my-2">
            <input [(ngModel)]="examTime" class="form-control" type="time" id="examTime" name="examTime" required [disabled]="!formEnabled">
            <label for="examTime">Hora do Exame</label>
        </div>

        <div class="col-6 form-floating my-2">
            <input [(ngModel)]="examType" class="form-control" type="text" id="examType" name="examType" required [disabled]="!formEnabled" minlength="4" maxlength="32">
            <label for="examType">Tipo de Exame</label>
        </div>

        <div class="col-6 form-floating my-2">
            <input [(ngModel)]="laboratory" class="form-control" type="text" id="laboratory" name="laboratory" required [disabled]="!formEnabled" minlength="4" maxlength="32">
            <label for="laboratory">Laboratório</label>
        </div>

        <div class="col-12 form-floating my-2">
            <input [(ngModel)]="url" class="form-control" type="url" pattern="https://.*" id="url" name="url" [disabled]="!formEnabled">
            <label for="url">URL do Documento do Exame</label>
        </div>

        <div class="col-12 form-floating my-2">
            <textarea [(ngModel)]="results" class="form-control" type="text" id="results" name="results" required [disabled]="!formEnabled" minlength="16" maxlength="1024"></textarea>
            <label for="results">Resultados</label>
        </div>

    </form>
</div>