<div class="container">
    <app-patient-search *ngIf="searchEnabled" (searchEmitter)="enableForm($event)"></app-patient-search>

    <form ngNativeValidate #appointmentForm="ngForm" (ngSubmit)="registerAppointment(appointmentForm)" class="row m-3 border shadow bg-body-tertiary rounded py-1">
        <h3 class="my-2 col-6 fs-4">Consulta de {{ patientFullName }}</h3>

        <div class="col-2 gx-2 d-flex flex-column">
            <input type="submit" class="my-2 btn" [ngClass]="this.appointmentId < 0 ? 'btn-outline-secondary' : 'btn-primary'" name="edit" id="edit" [disabled]="this.appointmentId < 0" value="Editar">
        </div>
        <div class="col-2 gx-2 d-flex flex-column">
            <button type="reset" (click)="delete()" class="my-2 btn" [ngClass]="this.appointmentId < 0 ? 'btn-outline-secondary' : 'btn-danger fw-bold'" [disabled]="this.appointmentId < 0">Deletar</button>
        </div>
        <div class="col-2 gx-2 d-flex flex-column">
            <input type="submit" class="my-2 btn" [ngClass]="this.appointmentId < 0 ? 'btn-primary' : 'btn-outline-secondary'" [disabled]="this.appointmentId >= 0" value="Salvar" name="save" id="save">
        </div>
            
        <div class="col-6 form-floating my-2">
            <input [(ngModel)]="appointmentMotive" class="form-control" type="text" id="appointmentMotive" name="appointmentMotive" required [disabled]="!formEnabled" minlength="8" maxlength="64">
            <label for="appointmentMotive">Motivo da Consulta</label>
        </div>

        <div class="col-3 form-floating my-2">
            <input [(ngModel)]="date" class="form-control" type="date" id="appointmentDate" name="appointmentDate" required [disabled]="!formEnabled">
            <label for="appointmentDate">Data da Consulta</label>
        </div>

        <div class="col-3 form-floating my-2">
            <input [(ngModel)]="appointmentTime" class="form-control" type="time" id="appointmentTime" name="appointmentTime" required [disabled]="!formEnabled">
            <label for="appointmentTime">Hora da Consulta</label>
        </div>

        <div class="col-12 form-floating my-2">
            <textarea [(ngModel)]="issueDescription" class="form-control" id="issueDescription" name="issueDescription" required [disabled]="!formEnabled" minlength="16" maxlength="1024"></textarea>
            <label for="issueDescription">Descrição do Problema</label>
        </div>

        <div class="col-12 form-floating my-2">
            <textarea [(ngModel)]="prescriptedMedicine" class="form-control" id="prescriptedMedicine" name="prescriptedMedicine" [disabled]="!formEnabled"></textarea>
            <label for="prescriptedMedicine">Medicação Receitada</label>
        </div>

        <div class="col-12 form-floating my-2">
            <textarea [(ngModel)]="dosageAndPrecautions" class="form-control" id="dosageAndPrecautions" name="dosageAndPrecautions" [disabled]="!formEnabled" required minlength="16" maxlength="256"></textarea>
            <label for="dosageAndPrecautions">Dosagem e Precauções</label>
        </div>

    </form>
</div>