<div class="container">
    <h1 class="row mx-3 mt-3">Estatísticas do Sistema</h1>
    <ul class="row list-unstyled text-center mx-3">
        <li class="col-4 border" *ngFor="let statistic of statistics">
            <img [src]="statistic['icon']" alt="">
            <span class="fs-1 ms-3">{{ statistic['quantity'] }}</span>
            <p class="fw-bold">{{ statistic['title'] }}</p>
        </li>
    </ul>
    <h2 class="row mx-3">Informações Rápidas de Pacientes</h2>
    <form (submit)="filterPatients()" class="row mx-3">
        <input [(ngModel)]="query" class="col-9 border rounded" type="text" placeholder="Digite nome, telefone, ou e-mail do paciente" name="query">
        <input class="col-2 btn btn-outline-secondary offset-md-1" type="submit" value="Buscar" name="executeQuery">
    </form>
    <ul class="row list-unstyled text-center mx-3">
        <li class="col-3 my-3 border" *ngFor="let patient of filteredPatients">
            <img class="mt-4" src="../../../assets/foto-de-perfil.png" alt="Foto do paciente">
            <p class="fs-4 fw-bold my-2">{{ patient.nomeCompleto }}</p>
            <p class="fs-5 my-2">{{ patient.dataDeNascimento | age }}</p>
            <p class="fs-4 my-2">{{ patient.telefone }}</p>
            <p class="fs-4 my-2">{{ patient.convenio ? patient.convenio : "Sem Plano" }}</p>
            <a [routerLink]="['/cadastrar-paciente/', patient.id.toString()]" class="fs-5 my-2">ver mais</a>
        </li>

    </ul>
</div>