<app-template>
    <div class="container">
        <h1 class="row">Estatísticas do Sistema</h1>
        <ul class="row list-unstyled text-center">
            <li class="col-4 border" *ngFor="let statistic of statistics">
                <img [src]="statistic['icon']" alt="">
                <span class="fs-1 ms-3">{{ statistic['quantity'] }}</span>
                <p class="fw-bold">{{ statistic['title'] }}</p>
            </li>
        </ul>
        <h2 class="row">Informações Rápidas de Pacientes</h2>
        <form class="row">
            <input class="col-8 form-control" type="text" placeholder="Digite o nome do paciente">
            <input class="col-2 btn btn-outline-secondary" type="button" value="Buscar">
        </form>
    </div>
</app-template>