<div class="container-fluid">
    <div class="row">
        <div class="col-6 border-end border-primary border-2">
            <img width="100%" src="../../../assets/pagina-login.png" alt="Ícone da página de login">
        </div>
        <div class="col-6 border-start border-primary border-2">
            <label for="criar-conta">Não possui uma conta?</label>
            <button>Criar Conta</button>
            <h1>Login</h1>
            <label for="e-mail">E-Mail</label><br>
            <input type="text">               <br>
            <label for="senha">Senha</label>  <br>
            <input type="password">           <br>
            <button>Entrar</button>           <br>
            <a href="">Esqueceu sua senha?</a><br>
            <img src="../../../favicon.ico" alt="Ícone do site">
        </div>
    </div>
</div>