<main class="container">
    <h1 class="fs-4 row m-3">Paciente {{ patientName }}</h1>
    <p class="fs-5 row mx-3">Convênio: {{ insurance }}</p>
    <p class="fs-5 row mx-3">Contato de Emergência: {{ emergencyContact }}</p>
    <p *ngIf="allergyList" class="row mx-3 fw-bold">Alergias: {{ allergyList }}</p>
    <p *ngIf="careList" class="row mx-3 fw-bold">Cuidados especiais: {{ careList }}</p>

    <ul class="container list-unstyled">
        <h2 class="row mx-3 fs-4">Consultas</h2>
        <li *ngFor="let appointment of appointments" class="row m-3 border">
            <h3 class="col-12 fs-5">Motivo da Consulta: {{ appointment.motivo }}</h3>
            <h4 class="col-6 fs-5">Data: {{ appointment.dataDaConsulta }}</h4>
            <h4 class="col-6 fs-5">Hora: {{ appointment.horario }}</h4>
            <p class="col-12">ID da Consulta: {{ appointment.idDaConsulta }}</p>
            <p class="col-12">Descrição: {{ appointment.descricao }}</p>
            <p *ngIf="appointment.medicacao" class="col-12">Medicação: {{ appointment?.medicacao }}</p>
            <p class="col-12">Dosagem e Precauções: {{ appointment.dosagemEPrecaucoes }}</p>
            <button class="btn btn-warning offset-md-9 col-3">Editar</button>
        </li> 
    </ul>
    
    <ul class="container list-unstyled">
        <h2 class="row mx-3 fs-4">Exames</h2>
        <li *ngFor="let exam of exams" class="row m-3 border">
            <h4 class="col-12 fs-5">Nome do Exame: {{ exam.nome }}</h4>
            <h4 class="col-12 fs-5">Laboratório: {{ exam.laboratorio }}</h4>
            <h5 class="col-5 fs-5">Data: {{ exam.dataDoExame }}</h5>
            <h5 class="col-5 fs-5">Hora: {{ exam.horario }}</h5>
            <a *ngIf="exam.url; else offset" [href]="exam.url" class="col-2">
                <img src="../../../assets/icone-de-anexar.png" alt="Clipes de anexo">
            </a>
            <ng-template #offset class="col-2"></ng-template>
            <p class="col-12">ID do Exame: {{ exam.idDoExame }}</p>
            <p class="col-12">Tipo: {{ exam.tipoDoExame }}</p>
            <p class="col-12">Resultados: {{ exam.resultados }}</p>
            <button class="btn btn-warning offset-md-9 col-3">Editar</button>
        </li> 
        </ul>

</main>